version: '3.8'

services:
  # PostgreSQL Database
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ecommerce_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456   # pass DB container
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - ecommerce-network

  # Django Backend
  backend:
    image: nguyet2004/backend:latest
    environment:
      - DEBUG=0
      - DATABASE_URL=postgresql://postgres:123456@db:5432/ecommerce_db
    depends_on:
      - db
    networks:
      - ecommerce-network
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py migrate &&
             gunicorn --bind 0.0.0.0:8000 backend.wsgi:application"

  # React Frontend (Nginx)
  frontend:
    image: nguyet2004/frontend:latest
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - ecommerce-network

  # Redis cache
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - ecommerce-network

volumes:
  postgres_data:

networks:
  ecommerce-network:
    driver: bridge
